.flex-container{
    padding: 1rem;
    background-color: green;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    width: 90%;
    margin: 20px;
}
.flex-item{
    width: 200px;
    height: 250px;
    padding: 1rem;
    color: white;
    font-size: 30px;
    text-align: center;
    border: 5px solid hsl(16, 91%, 48%);
    border-radius: 10px;
    background-color:yellowgreen;
    margin: 5px;
}
.time{
    background-color: brown;
    border: 3px solid black;
    color: white;
    height: 50px;
    width: 250px;
    font-size: 35px;
    justify-content: center;
}
body{
    background-color: sienna;
}
